* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dark .displayOnDark {
  display: block;
}

.dark .displayOnLight {
  display: none;
}

.light .displayOnDark {
  display: none;
}

.light .displayOnLight {
  display: block;
}

.light {
  --gray-1: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
}

*:hover {
  -webkit-tap-highlight-color: transparent;
}

*:hover {
  -webkit-tap-highlight-color: transparent;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

.rt-TabNavLinkInner:active {
  background-color: var(--gray-a4);
}

.rt-Text {
  text-wrap: pretty;
}

.rt-Heading {
  text-wrap: balance;
}
